#room {
    max-width: 80%;
    header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        label.toggle{
            top: 30px;
            right: 30px;            
            position: absolute;
            font-size: 30px;
            color: var(--black);
            display: none;
            cursor: pointer;
        }        
        input#toggle{
            display: none;
        }
        .label {
            margin-right: 1.2rem;
        }
        .buttons {
            display: flex;
            align-items: center;
            img {
                width: 2rem;
                height: 2rem;
            }
            .button {
                margin-right: 0.8rem;
                padding: 1.3rem 1.6rem;
                img {
                    margin-left: 1.16rem;
                }
            }
            .button + .button {
                padding: 1.3rem 3.2rem;
                img {
                    margin-right: 1rem;
                }
            }
        }
    }

    main {
        #question-form {
            h2 {
                font-family: "Poppins", sans-serif;
                font-weight: 700;
                color: var(--black);
                font-size: 2.8rem;
                margin-bottom: 2.4rem;
                line-height: 4.2rem;
            }
            form {
                padding: 1.6rem;
                border: 0.2rem solid var(--grey-blue);
                border-radius: 0 0.8rem 0.8rem 0.8rem;
                margin-bottom: 1.6rem;

                textarea {
                    resize: none;
                    background: none;
                    width: 100%;
                    outline: none;
                    color: var(--black);
                    &::placeholder {
                        color: var(--grey-blue);
                    }
                }
                footer {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    > div {
                        display: flex;
                        align-items: center;

                        font-family: "Poppins", sans-serif;
                        font-weight: 400;
                        font-size: 1.4rem;
                        color: var(--Icons-details);
                        line-height: 4rem;
                        img {
                            margin-right: 0.9rem;
                        }
                    }
                    button {
                        height: auto;
                        padding: 0.8rem 2.4rem;
                        line-height: 2.4rem;
                    }
                }
            }
        }
        .question-wrapper {
            margin-bottom: 0.8rem;
            background-color: var(--light-blue);
            border-radius: 0 0.8rem 0.8rem 0.8rem;
            padding: 2.4rem 3.2rem 2.5rem 2.4rem;
            font-family: "Open Sans", sans-serif;

            .question-content {
                display: flex;
                align-items: flex-start;
                .user {
                    background: var(--blue);
                    clip-path: circle();
                    padding: 1.15rem 1.4rem;
                }
                .question {
                    color: var(--black);
                    margin-left: 1.6rem;
                    p {
                        color: #0d114f;
                        word-break: break-word;
                        display: flex;
                        align-items: center;
                        min-height: 5.2rem;
                    }
                }
            }
            .actions {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                > .readquestion {
                    color: var(--grey-dark);
                    display: flex;
                    align-items: center;
                    margin-right: 2.4rem;
                    cursor: default;
                    > img {
                        margin-right: 0.8rem;
                    }
                }
                > a {
                    color: var(--grey-dark);
                    display: flex;
                    align-items: center;
                    & + a {
                        margin-left: 2.4rem;
                    }
                    > img {
                        margin-right: 0.8rem;
                    }
                }
            }
            &.read {
                background: var(--grey-medium);
                .question-content {
                    .user {
                        background: var(--grey-blue);
                    }
                }
            }
        }
        .no-questions {
            text-align: center;
            margin-top: 5.2rem;
            color: var(--black);
            img {
                max-width: 100%;
                margin-bottom: 1.2rem;
            }
            p {
                font-family: "Poppins", sans-serif;
                font-size: 1.8rem;
                font-weight: 600;

                & + p {
                    margin-top: 1.3rem;
                    font-family: "Open Sans", sans-serif;
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 1.9rem;
                }
            }
        }
    }
}
@media only screen and (max-width: 768px){
    #room{
        min-width: 95%;
    
    header{
        a{
            position: relative;
            > img{
                width: 100%;
            }
        }
        label.toggle{
            display: flex;
        }        
        .buttons{
            display: flex; 
            visibility: hidden;    
            position: absolute;        
            opacity: 0;
            width: 100%;
            justify-content: flex-end;     
            .button{
                max-width: 18.4rem;
            }
            .label{
                float: left;
            }
        }
        input#toggle:checked + .buttons{            
            visibility: visible;            
            opacity: 1;
            transition: all .5s;            
            transform: translate(-10%,100%);
        }

    }
    #question-form{
        margin-top: 2rem;
    }
    }
}
@media only screen and (max-width: 425px){
    #room{
        header{
            .buttons{
                font-size: clamp(1.2rem, 1vw, 1.4rem);                
                .button{
                    width: 10rem;
                    &.outlined{
                        > img{
                            margin-left: .5rem;
                        }
                    }
                    +.button{
                    padding: 0 !important;
                    >img{
                        display: none;
                    }                    
                }
                }
            }
        }
        main{
            #question-form{
                form{
                    footer{ 
                        > div{
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
        
    }
}