<html>
    <head>
        <title> Senha incorreta</title>
        <link rel="shortcut icon" href="/images/icon.png" type="image/x-icon">
        <link rel="stylesheet" href="/styles/global.css">
        <link rel="stylesheet" href="/styles/error.css">
        <script>

            document.querySelector('.buttons a.button').addEventListener("click", () => {
                window.location.replace("")
            })            
            
        </script>
    </head>
    <body>
        <section>

                <header>
            <a href="/">
                <img src="/images/logo.svg" alt="Logo Rocket.Q" />
            </a>
            <div class="buttons">
                
            </div>
        </header>
    <div class="container">
        <img src="/images/sec-password.svg" alt="Wrong Password">    
    </div>
    <p>A senha digitada está incorreta. 
        <a href="/room/<%= roomId %>" class="button">
                    <img src="/images/enter-room.svg" alt="Voltar a sala" />
                    Voltar a sala
        </a>
    </p>

        </section>
    </body>
</html>