<html>
    <head>
        <title> Senha incorreta</title>
        <link rel="shortcut icon" href="/images/icon.png" type="image/x-icon">
        <script>
            confirm("Senha incorreta")
            window.location.replace("/room/<%= roomId %>")
        </script>
    </head>
</html>