
<section>
    
        <header>
            <a href="/">
                <img src="/images/logo.svg" alt="Logo Rocket.Q" />
            </a>
            <div class="buttons">
                <a href="/" class="button">
                    <img src="/images/enter-room.svg" alt="Inicio" />
                    Inicio
                </a>
                    <a href="/create-pass" class="button">
                        <img src="/images/userswhite.svg" />
                        Criar Sala
                    </a>
            </div>
        </header>
    <div class="container">
        <img src="/images/not-found.svg" alt="Room not found ERROR 404">    
    </div>
    <p>A sala não foi encontrada</p>
</section>

