<section>

                <header>
            <a href="/">
                <img src="/images/logo.svg" alt="Logo Rocket.Q" />
            </a>
            <div class="buttons">
                
            </div>
        </header>
    <div class="container">
        <img src="/images/sec-password.svg" alt="Wrong Password">    
    </div>
    <p>A senha digitada está incorreta. 
        <a href="/room/<%= roomId %>" class="button">
                    <img src="/images/enter-room.svg" alt="Voltar a sala" />
                    Voltar a sala
        </a>
    </p>

        </section>